# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled files
*.slo
*.lo
*.o
*.obj
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Build results
[Bb]in/
FrozenEditor/obj/

# Visual Studio 2015 cache/options directory
.vs/